@model IEnumerable<WebTrangSuc.Models.ChatLieu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<h2>Danh sách Chất Liệu</h2>
<a href="@Url.Action("Create", "ChatLieu", new { area = "Admin" })" class="btn btn-success">Thêm mới</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Chất Liệu</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.TenChatLieu</td>
                <td>
                    <a href="@Url.Action("Edit", "ChatLieu", new { id = item.ID, area = "Admin" })" class="btn btn-warning">Sửa</a>
                    <a href="@Url.Action("Delete", "ChatLieu", new { id = item.ID, area = "Admin" })" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

