<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | joyas</title>
    <link href="~/Content/Css/globals.css" rel="stylesheet" />
    <link href="~/Content/Css/styleguild.css" rel="stylesheet" />
    <link href="~/Content/Css/MasterCss.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/86c67604fc.js" crossorigin="anonymous"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        #wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
        }
    </style>
</head>
    <body>
        <div class="trang-ch">
            <div class="div">
                <header class="header">
                    <img class="icon" src="~/img/icon.png" />
                    <img class="line-2" src="~/img/line-2.svg" />
                    <img class="line-3" src="~/img/line-2.svg" />
                    <div class="signin">
                        <div class="face"><i class="fa-solid fa-user" style="color: #B4A398; padding-top: 5px;"></i></div>
                        <div class="ng-nhp">
                            <div class="text-wrapper-69">@Html.ActionLink("Đăng nhập", "Index", "Auth")</div>
                        </div>
                    </div>
                    <div class="signup">
                        <div class="exit-to-app"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #B4A398; padding-top: 5px;"></i></div>
                        <div class="ng-nhp">
                            <div class="text-wrapper-69">@Html.ActionLink("Đăng ký", "Index", "Auth")</div>
                        </div>
                    </div>
                    <div class="text-wrapper-70">@Html.ActionLink("joyas", "Index", "TrangChu")</div>
                    <div class="search">
                        <div class="overlap-group-4">
                            <input class="input" placeholder="Search ..." type="text" />
                            <div class="search-wrapper"><img class="search-2" src="~/img/search-1.svg" /></div>
                        </div>
                    </div>
                    <div class="overlap-14">
                        <div class="text-wrapper-71">CONTACT US</div>
                    </div>
                    <div class="cart"><img class="shopping-bag" src="~/img/shopping-bag-1.svg" /></div>
                    <div class="menu">
                        <div class="group-27">
                            <div class="div-wrapper-2">
                                <div class="text-wrapper-69">@Html.ActionLink("Trang chủ", "Index", "TrangChu")</div>
                            </div>
                            <div class="ng-nh-p-wrapper">
                                <div class="text-wrapper-69">Sự kiện</div>
                            </div>
                            <div class="ng-nhp-2">
                                <div class="text-wrapper-69">@Html.ActionLink("Bộ sưu tập", "Index", "BoSuuTap")</div>
                            </div>
                            <div class="ng-nhp-3">
                                <div class="text-wrapper-69">Thương hiệu</div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="body">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="text-wrapper">joyas</div>
                        <div class="text-wrapper-2">JEWELRY</div>
                        <div class="text-wrapper-3">Thông tin</div>
                        <p class="p">Đăng ký nhận bản tin</p>
                        <div class="text-wrapper-4">Giới thiệu</div>
                        <div class="text-wrapper-5">Liên hệ</div>
                        <div class="text-wrapper-6">Sự kiện</div>
                        <div class="text-wrapper-7">Chính sách giao hàng</div>
                        <div class="text-wrapper-8">Chính sách bảo mật</div>
                        <p class="i-u-kho-n-i-u-ki-n">Điều khoản &amp; Điều kiện</p>
                        <div class="rectangle-2"></div>
                        <div class="text-wrapper-9">Email....</div>
                        <div class="rectangle-3"></div>
                        <div class="text-wrapper-10">Gửi</div>
                        <div class="copy-right">
                            <img class="copyright" src="~/img/copyright-1.svg" />
                            <p class="element-joyas">
                                <span class="span">2024</span>
                                <span class="text-wrapper-11">&nbsp;</span>
                                <span class="text-wrapper-12">joyas</span>
                            </p>
                            <img class="line" src="~/img/line-3.svg" />
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
