@model IEnumerable<WebTrangSuc.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Quản lý sản phẩm </h3>
        <nav aria-label="breadcrumb">

        </nav>
    </div>
    <p>
        <a href="@Url.Action("Create", "SanPham")" class="btn btn-primary">Create New</a>
    </p>

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Loại sản phẩm</th>
                    <th>Mô tả sản phẩm</th>
                    <th>Hình</th>
                    <th>Giá</th>
                    <th>Số lượng tồn</th>
                    <th>Trạng thái sản phẩm</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.TenSanPham</td>
                            <td>@item.IDLoaiSanPham</td> <!-- Hiển thị tên loại sản phẩm -->
                            <td>@item.MoTaSanPham</td>
                            <td>
                                <img src="@item.HinhSanPham" alt="Hình sản phẩm" style="max-width:100px; max-height:100px;" />
                            </td>
                            <td>@item.Gia</td>
                            <td>@item.SoLuongTonKho</td>
                            <td>@item.TrangThaiSanPham</td>
                            <td>
                                <a href="/admin/sanpham/edit/@item.ID" class="btn btn-sm btn-primary">Sửa</a>
                                <a href="/admin/sanpham/Delete/@item.ID" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có muốn xóa không?');">Xóa</a>

                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Không có bản ghi nào</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

